<h2 id="title">HLS Stream Sandbox</h2>
{{#link-to "application"}}Home{{/link-to}}
{{#link-to "playlists"}}Playlists{{/link-to}}
{{#link-to "videoFragment"}}Upload{{/link-to}}
<div id="container">
{{outlet}}
</div>
<br/>
<a href="http://localhost:3000/documentation">API Documentation</a>