<ul>
  {{#each model as |playlist|}}
    <li>
      {{#link-to 'playlists.show' playlist}}
        {{playlist.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ul>

{{outlet}}

